<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <title>Editar Contacto</title>
</head>
<body>
<main>
    <div class="container px-4 py-5">
        <h1 class="pb-2 mb-3 border-bottom">Editar Contacto</h1>
        <form method="post" th:action="@{'/Contacto/save'}" class="mt-2">
            <input th:value="${dueno.id}" type="text" class="form-control" name="id" id="id" hidden>
            <div class="mb-3">
                <label for="correo" class="form-label">Correo</label>
                <input th:value="${dueno.correo}" type="text" class="form-control" name="correo" id="correo" readonly>
            </div>
            <div class="mb-3">
                <label for="direccion" class="form-label">Direccion</label>
                <input th:value="${dueno.direccion}" type="text" class="form-control" name="direccion" id="direccion" >
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <input th:value="${dueno.password}" type="password" class="form-control" name="password" id="password">
            </div>
            <div class="mb-3">
                <label for="telefono" class="form-label">Telefono</label>
                <input th:value="${dueno.telefono}" type="text" class="form-control" name="telefono" id="telefono" readonly>
            </div>
            <div class="mb-3">
                <label for="admin" class="form-label">Numero de admin</label>
                <input th:value="${dueno.admin}" type="text" class="form-control" name="admin" id="admin" readonly>
            </div>
            <a th:href="@{'/Contacto/list'}" class="btn btn-danger">Cancelar</a>
            <button type="submit" class="btn btn-primary">Registrar</button>
        </form>
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Nombre mascota</th>
                <th>Año</th>
                <th>Sexo</th>
                <th>Raza</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="mascota : ${mascotas}">
                <td th:text="${mascota.getId()}"></td>
                <td th:text="${mascota.getNombre()}"></td>
                <td th:text="${mascota.getAnho()}"></td>
                <td th:text="${mascota.getSexo()}"></td>
                <td th:text="${mascota.getRazaEspecie().getDescripcion()}"></td>
                <td><a class="btn btn-danger"
                       th:href="@{'/Mascotas/delete' + '?id=' + ${mascota.getId()}}">Borrar</a>
                </td>
            </tr>
            </tbody>
        </table>



    </div>
</main>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>