<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <title >Lista de Mascotas del dueño</title>
</head>

<body>
<main>
    <div class="container px-4 py-5">
        <h1 class="pb-2 border-bottom">Lista de Mascotas del dueño</h1>
        <div class="d-flex mt-3 mb-4">
            <a class="btn btn-secondary ms-auto" th:href="@{'/Contacto/list'}">Regresar</a>
        </div>
        <div th:if="${msg != null}" th:text="${msg}" class="alert alert-success" role="alert"></div>
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Nombre mascota</th>
                <th>Año</th>
                <th>Sexo</th>
                <th>Raza</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="mascota : ${mascotas}">
                <td th:text="${mascota.id}"></td>
                <td th:text="${mascota.nombre}"></td>
                <td th:text="${mascota.anho}"></td>
                <td th:text="${mascota.sexo}"></td>
                <td th:text="${mascota.getRazaEspecie().getDescripcion()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
