<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <title>Detalles de Servicio</title>
</head>
<body>
<main>
    <div class="container px-4 py-5">
        <h1 class="pb-2 mb-3 border-bottom">Funciones</h1>
            <a th:href="@{'/Servicio/serviciomascota' + '?id=' + ${mascota.id}}" class="btn btn-info">Ingresar nuevo servicio</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre mascota</th>
                <th>Edad</th>
                <th>Hora Inicio</th>
                <th>Duracion</th>
                <th>Entrega</th>
                <th>Nombre del Responsable</th>
                <th>Servicio</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="mascota,i : ${mascotaServicios}">
                <td th:text="${i.index + 1}"></td>
                <td th:text="${mascota.nombreMascota}"></td>
                <td th:text="${mascota.anho}"></td>
                <td th:text="${mascota.horaInicio}"></td>
                <td th:text="${mascota.duracion}"></td>
                <td th:text="${mascota.responsable}"></td>
                <td th:text="${mascota.servicio}"></td>
            </tr>
        </tbody>
    </table>

</main>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>