<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
        <title >Lista de Servicios</title>
    </head>

    <body>
        <main>
            <div class="container px-4 py-5">
                <h1 class="pb-2 border-bottom">Lista de Servicios</h1>
                <div class="d-flex mt-3 mb-4">
                    <a class="btn btn-primary" style="margin-right: 15px" th:href="@{'/Servicio/new'}">Nuevo Servicio</a>
                    <a class="btn btn-secondary ms-auto" th:href="@{'/'}">Regresar</a>
                    <br>
                </div>
                <div class="alert alert-success" th:text="${msg1}" th:if="${msg1 != null}"></div>
                <div class="alert alert-warning" th:text="${msg2}" th:if="${msg2 != null}"></div>
                <div class="alert alert-danger" th:text="${msg3}" th:if="${msg3 != null}"></div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Descripción</th>
                            <th>Tiempo(min)</th>
                            <th>Precio</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="servicitos,info : ${listaServicios}">
                            <td th:text="${info.index + 1}"></td>
                            <td th:text="${servicitos.descripcion}"></td>
                            <td th:text="${servicitos.tiempoMinutos}"></td>
                            <td th:text="${servicitos.precio}"></td>
                            <td><a class="btn btn-primary"
                                   th:href="@{'/Servicio/editar' + '?id=' + ${servicitos.id}}">Editar</a>
                            </td>
                            <td><a class="btn btn-danger"
                                   th:href="@{'/Servicio/delete' + '?id=' + ${servicitos.id}}">Borrar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
        <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    </body>
</html>
