<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <title>Editar Mascota</title>
</head>
<body>
<main>
    <div class="container px-4 py-5">
        <h1 class="pb-2 mb-3 border-bottom">Editar Mascota</h1>
        <form method="post" th:action="@{'/Mascotas/save'}" class="mt-2">
            <input type="text" class="form-control" name="id" id="id" th:value="${mascota.id}" hidden>
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre de la Mascota</label>
                <input type="text" class="form-control" name="nombre" id="nombre" th:value="${mascota.nombre}" required>
            </div>
            <div class="mb-3">
                <label for="anho" class="form-label">Año</label>
                <input type="text" class="form-control" name="anho" id="anho" th:value="${mascota.anho}" required>
            </div>
            <div class="mb-3">
                <label for="historia" class="form-label">Historia</label>
                <input type="text" class="form-control" name="historia" id="historia" th:value="${mascota.historia}" required>
            </div>
            <div class="mb-3">
                <label for="observaciones" class="form-label">Observaciones</label>
                <input type="text" class="form-control" name="observaciones" id="observaciones" th:value="${mascota.observaciones}" required>
            </div>
            <div class="mb-3">
                <label for="sexo" class="form-label">Sexo</label>
                <input type="text" class="form-control" name="sexo" id="sexo" th:value="${mascota.sexo}" required>
            </div>
            <div class="mb-3">
                <label for="razaEspecie.id" class="form-label">Raza</label>
                <select name="razaEspecie.id" class="form-control" id="razaEspecie.id" required>
                    <option th:each="raza : ${razas}" th:text="${raza.getDescripcion()}"
                            th:value="${raza.getId()}" th:selected="${raza.getId()==mascota.getRazaEspecie().getId()}"></option>
                </select>
            </div>
            <div class="mb-3">
                <label for="razaOtros" class="form-label">Raza otros</label>
                <input type="text" class="form-control" name="razaOtros" id="razaOtros" th:value="${mascota.razaOtros}">
            </div>
            <div class="mb-3">
                <label for="cuenta" class="form-label">Cuenta</label>
                <select name="cuenta.id" class="form-control" id="cuenta">
                    <option th:each="cuenta : ${cuentas}" th:text="${cuenta.getCorreo()}"
                            th:value="${cuenta.getId()}" th:selected="${cuenta.getId()==mascota.getCuenta().getId()}"></option>
                </select>
            </div>
            <a th:href="@{'/Mascotas/lista'}" class="btn btn-danger">Cancelar</a>
            <button type="submit" class="btn btn-primary">Registrar</button>
        </form>
    </div>
</main>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>