<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
        <title>Página Principal</title>
    </head>
    <body style="background-color: darkgrey">
        <div class="container" style="background-color: skyblue;height: 500px;margin-top: 215px;top: 50%">
            <div class="row">
                <div class="col-xl-5">
                </div>
                <h1 style="color: gray;font-size: 4.5rem;font-weight: 700"> TeleVet</h1>
            </div>
            <div style="margin-top: 5px;margin-bottom: 5px;height: 368px;background-color: green">
                <img style="height: 380px;width:  1110px" src="images/mascotas.jpg">
            </div>
        </div>
        <div class="row" style="margin-top: 20px">
            <div class="col-xl-4" style="margin-left: -24px"></div>
            <a href="#" class="btn btn-primary" style="margin-right: 45px">Lista de Mascota</a>

            <a href="#" class="btn btn-secondary"  style="margin-right: 45px">Contacto y/o Dueño</a>

            <a th:href="@{'/Servicio/lista'}" class="btn btn-success"  style="margin-right: 45px">Servicio</a>

            <a th:href="@{'/Responsable/lista'}" class="btn btn-info"  style="margin-right: 45px">Nuevo Responsable</a>

        </div>
    </body>
</html>